@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Style de la page d'acceuil */
/* Style de la navbar */

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 10px 0;
    background: #303036;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: #FFA552;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: #fff;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
    text-transform: capitalize;
}
.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover {
    color: #FFA552;
}

/* Style du btn burger */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #FFA552;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #303036;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* Style de la section Home */

.home {
    display: flex;
    background: url("../assets/img/background-3-modif.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Raleway', sans-serif;
}
.home .max-width {
    margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: #FFA552;
    font-weight: 500;
}
.home .home-content a {
    display: inline-block;
    background: #FFA552;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #303036;
    transition: all 0.3s ease;
}
.home .home-content a:hover {
    color: #fff;
    background: none;
    border: 2px solid #FFA552;
}

/* Tout code de style de contenu similaire */

section {
    padding: 100px 0;
}
.about, .services, .skills, .teams .contact, footer, .porfolio {
    font-family: 'Poppins', sans-serif;
}
.about .about-content, .services .serv-content,
.skills .skills-content, .contact .contact-content,
.porfolio .port-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 260px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
/* section .title::after {
    position: absolute;
    bottom: -14px;
    left: 50%;
    font-size: 20px;
    color: #788AA3;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
} */

/* Style de la section about */

.about {
    background: #788AA3;
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .left img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}
.about .about-content .left .social {
    font-size: 40px;
    padding-top: 20px;
    margin-left: 156px;
}
.about .about-content .left .social i {
    color: #FFA552;
}
.about .about-content .right {
    width: 55%;
}
.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}
.about .about-content .right .text span {
    color: #FFA552;
}
.about .about-content .right p {
    text-align: justify;
    color: #fff;
}
.about .about-content .right a {
    display: inline-block;
    background: #FFA552;
    color: #303036;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #FFA552;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover {
    background: none;
    border: 2px solid #FFA552;
}

/* Style de la section compétences */

.skills .skills-content .column {
    width: calc(50% - 30px);
}
.skills .skills-content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #303036;
}
.skills .skills-content .left .row i {
    font-size: 25px;
    color: #FFA552;
}
.skills .skills-content .left .row .info {
    font-size: 17px;
    color: #303036;
}
.skills .skills-content .right .bars {
    margin-bottom: 15px;
}
.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span {
    font-weight: 600;
    font-size: 18px;
    color: #303036;
}
.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: #FFA552;
}
.skills .skills-content .right .html::before {
    width: 90%;
}
.skills .skills-content .right .css::before {
    width: 80%;
}
.skills .skills-content .right .javascript::before {
    width: 65%;
}
.skills .skills-content .right .wordpress::before {
    width: 90%;
}
.skills .skills-content .right .nodejs::before {
    width: 50%;
}

/* Style de la section services */

.services {
    color: #fff;
    background: #788AA3;
}
.services .title::before {
    background: #fff;
}
.services .serv-content .card {
    width: calc(33% - 20px);
    background: #303036;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin-bottom: 30px;
    /* cursor: pointer; */
    box-shadow: .4em .4em .5em #FFA552;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover {
    background: #92B6B1;
}
.services .serv-content .card .box {
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
    transform: scale(1.05);
}
.services .serv-content .card i {
    font-size: 50px;
    color: #FFA552;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
    color: #111;
}
.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Style de la section portfolio */

.portfolio {
    background: #303036;
    color: #fff;
}
.portfolio .title::before {
    background: #fff;
}
.portfolio-wrapper {
    display: flex;
    justify-content: space-between;
}
.portfolio-wrapper ul {
    min-width: 12%;
    list-style: none;
}
.portfolio-wrapper li {
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
}
.portfolio-wrapper .item {
    width: 85%;
    margin-left: 25px;
}
.portfolio-wrapper .ui-card {
    width: 100%;
    margin-bottom: 20px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    position: relative;
}
.portfolio-wrapper .ui-card img {
    width: 100%;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
    object-fit: cover;
}
.portfolio-wrapper .ui-card:hover img {
    transform: scale(1.1) translateY(0);
    opacity: 0.3;
}
.portfolio-wrapper .ui-card .description {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.portfolio-wrapper .ui-card .description h3 {
    font-weight: 600;
    font-size: 32px;
    margin: 0 0 20px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.portfolio-wrapper .ui-card .description p {
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.2s;
}
.portfolio-wrapper .ui-card .description a {
    color: #fff;
    background: #FFA552;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #FFA552;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.4s;
}
.portfolio-wrapper .ui-card .description a:hover {
    background: none;
}
.portfolio-wrapper .ui-card:hover .description h3 {
    opacity: 1;
    transform: translateY(0);
}
.portfolio-wrapper .ui-card:hover .description a {
    opacity: 1;
    transform: translateY(0);
}
.portfolio-wrapper .ui-card:hover .description p {
    opacity: 1;
    transform: translateY(0);
}
/* .item img {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    object-fit: cover;
    overflow: hidden;
    vertical-align: top;
    margin: 10px;
    border: 1px solid #303036;
    border-radius: 4px;
    cursor: pointer;
} */
.portfolio-wrapper li.active {
    background: #FFA552;
    border-radius: 6px;
    text-align: center;
    color: #303036;
}

/* Style de la section teams */
.teams {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #303036;
    min-height: 65vh;
    color: #fff;
}
.teams .title::before {
    background: #fff;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.container .team-card {
    position: relative;
    width: 300px;
    height: 420px;
    background: rgba(120, 138, 163, 0.8);
    margin: 20px;
    box-shadow: 0 20px 30px rgba(255, 165, 82, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container .team-card .team-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
}
.container .team-card:hover .team-content {
    opacity: 1;
    transform: translateY(-20px);
}
.container .team-card .team-content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.container .team-card .team-content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .team-card .team-content .contentBx h3 {
    color: #111;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.container .team-card .team-content .contentBx h3 span {
    font-size: 12px;
    font-weight: 600;
    text-transform: initial;
}
.container .team-card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
}
.container .team-card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.container .team-card:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
}
.container .team-card .sci li a {
    color: #303036;
    font-size: 24px;
}

/* Style de la section contact */

.contact .contact-content .column {
    width: calc(50% - 30px);
}
.contact .contact-content .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p {
    text-align: justify;
    font-size: 17px;
}
.contact .contact-content .left .icons {
    margin: 10px 0;
}
.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info {
    margin-left: 30px;
    color: #303036;
}
.contact .contact-content .row i {
    font-size: 25px;
    color: #FFA552;
}
.contact .contact-content .row a {
    color: #303036;
}
.contact .contact-content .info .head {
    font-weight: 600;
    font-size: 18px;
}
.contact .contact-content .info .sub-title {
    color: #303036;
    font-size: 17px;
}
.contact .right form .fields {
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea {
    height: 80px;
}
.contact .right form .name {
    margin-right: 10px;
}
.contact .right form .firstname {
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid #303036;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'poppins', sans-serif;
}
.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}
.contact .right form .button {
    height: 47px;
    width: 250px;
}
.contact .right form .button button {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    border: 2px solid #FFA552;
    background: #FFA552;
    color: #303036;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover {
    background: none;
}
.contact .map {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Style de la section footer */

footer {
    background: #303036;
    padding: 20px 23px;
    color: #fff;
    display: flex;
    justify-content: center;
}
footer span a {
    color: #FFA552;
    text-decoration: none;
}
footer span a:hover {
    text-decoration: underline;
}
















/* Responsive média query start */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}
@media (max-width: 1180px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
    .portfolio-wrapper {
        flex-direction: column;
    }
    .portfolio-wrapper ul {
        margin: auto;
        margin-bottom: 20px;
    }
    .portfolio-wrapper li {
        display: inline-block;
    }
    .portfolio-wrapper .item {
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    .item img {
        text-align: center;
        margin: 10px auto;
    }
}
@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}
@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #303036;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 80px;
    }
    .about .about-content .left img {
        height: 300px;
        width: 300px;
    }
    .about .about-content .left .social {
        position: absolute;
        justify-content: center;
        margin: 0 auto;
        padding-top: 316px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
    .item img {
        width: 100%;
    }
}
@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%;
    }
    .portfolio-wrapper li {
        display: block;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 30px;
    }
    section .title::after {
        font-size: 15px;
    }
    .home .home-content a {
        display: inline-block;
        width: 54%;
        text-align: center;
    }
    footer span {
        width: 100%;
        text-align: center;
    }
}
/* Responsive média query end */



