@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Style de la navbar */
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 10px 0;
    background: #303036;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span {
    color: #FFA552;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: #fff;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
    text-transform: capitalize;
}
.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s ease;
}
.navbar .menu li a:hover {
    color: #FFA552;
}

/* Style du btn burger */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Style de la section Home */
.home {
    display: flex;
    background: url("../assets/img/background-3-modif.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Raleway', sans-serif;
}
.home .max-width {
    margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
    font-size: 27px;
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: #FFA552;
    font-weight: 500;
}
/* Animation Svg */
.box {
    position: absolute;
    top: 20vh;
    left: 60%;
    padding: 1em 1em;
}
svg circle {
    fill: none;
    stroke: #fff;
    stroke-width: 5px;
    transform: translate(5px, 5px);
    stroke-dasharray: 1760;
    stroke-dashoffset: 1760;
    animation: circle 2s forwards;  
}
@keyframes circle {
    to {
        stroke-dashoffset: 0;
    }
}
svg {
    height: 600px;
    width: 600px; 
}
.profil {
    position: absolute;
    top: 4vh;
    left: 8%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

/* Responsive média query start */
@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: #303036;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        
    }
}